<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>

<body>
Logged user: [[${#httpServletRequest.userPrincipal}]]!</span>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
</div>

    <h1>This is the body of the sample view</h1>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This text is only visible to an admin
        <br/>
        <a th:href="@{/admin/adminpage}">Admin page</a>, which is same as <br/>
        <a href="/admin/adminpage">Admin Page</a>
        <br/>
    </div>

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

</div>
</body>
</html>